Flask==3.1.0
flask-cors==5.0.1
axios==0.4.0
react-spinners
openai==1.76.0
langchain==0.3.24
streamlit==1.44.1
langchain-openai==0.3.14
langchain-community==0.3.22
langchain-google-genai==2.0.10
langchain-google-vertexai==2.0.21
llama-index-llms-gemini==0.4.14
llama-index==0.12.33
ollama==0.4.8
langsmith==0.3.37
python-dotenv==1.1.0
youtube-transcript-api==1.0.3
google-api-python-client==2.168.0
faiss-cpu==1.10.0
sentence-transformers==4.1.0
uvicorn==0.34.2
langserve==0.3.1
sse-starlette==2.3.3
